matplotlib==3.2.1
seaborn
xgboost==0.90
google_auth_oauthlib==0.4.1
nltk==3.4.4
streamlit==0.69.2
wordcloud==1.6.0
joblib==0.13.2
emoji==0.6.0
pandas==0.24.2
scipy==1.2.1
textstat==0.6.2
google_api_python_client==1.12.5
numpy==1.19.2
protobuf==3.13.0
scikit_learn==0.23.2
