wordcloud==1.6.0
en_core_web_sm==2.2.0
seaborn==0.9.0
streamlit==0.69.2
textstat==0.6.2
dill==0.3.2
emoji==0.6.0
scipy==1.2.1
matplotlib==3.2.1
spacy==2.2.1
xgboost==0.90
pandas==0.24.2
nltk==3.4.4
google_auth_oauthlib==0.4.1
google_api_python_client==1.12.5
numpy==1.19.3
protobuf==3.13.0
scikit_learn==0.23.2
vaderSentiment==3.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm==2.0.0
